.jumbotron {
    background-color: #fff;
    height          : calc(95vh);
}

.container {
    margin-top: 70px;
}

.hiddenRow {
    padding: 0 !important;
}

.head-table {
    padding: 12px 20px;
}

.card {
    margin-bottom: 20px;
    border       : 0;
}

.card .card-header {
    border            : 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow        : 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius     : 2px;
    padding           : 0;
}

.card .card-header {
    color     : #fff;
    display   : block;
    text-align: left;
    background: #f9f9f9;
    color     : #222;
    padding   : 20px;
}